<?xml version="1.0"?>

<model>
  <name>APtag</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Michael Perret</name>
    <email>michael.perret@epfl.ch</email>
  </author>

  <description>
    Apriltag to check the materail changement
  </description>
</model>
